.modal {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	position: absolute;
}

.modal-overlay {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.7;
	position: relative;
}

.modal-content {
	top: 30%;
	left: 20%;
	border: 0;
	width: 60%;
	position: absolute;
	text-align: center;
	border-radius: 2px;
	background-color: #4c4c4c;
}

.modal-content .modal-message {
	font-size: 12px;
	padding-top: 20px;
	color: rgba(255, 255, 255, 0.9);
}

.modal-content .modal-input {
	padding-top: 5px;
	padding-bottom: 5px;
}

.modal-content .modal-input input {
	width: 60%;
	height: 18px;
	padding: 5px;
	font-size: 12px;
	border: 1px solid rgb(187,187,187);
}

.modal-content .modal-input input:focus {
	outline: none;
	border: 1px solid rgb(50,90,140);
}

.modal-content .modal-buttons {
	padding-top: 20px;
	padding-bottom: 20px;
}

.modal-content .modal-buttons a:hover {
	background-color: lightgray;
}
